
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://i.imgur.com/CAd4mkY.jpg");
    background-size: cover;
    }

main {
    flex: 1 0 auto;
}
nav{
    margin: 0;
}

h1{
    padding: 0 auto;
    margin: 0 auto;
}
.head{
    font-style: 'Work Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    padding: 0 auto;
    margin: 5%;

}
.card{
    display: flex;
    float: left;
}