
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://i.imgur.com/OxBVtSD.jpg");
    background-size: cover;
    }

main {
    flex: 1 0 auto;
}
nav{
    margin: 0;
}
header{
    padding: 0 auto;
    margin: 5%;
}

h1{
    padding: 0 auto;
    margin: 0 auto;
}