{% extends 'base.html' %}

{% block content %}
    <div class="left col s2">
        <h3> </h3>
        <a href="/trips/create/"><h4 class="black-text">Create a New Hike</h4></a>

    </div>

    <div class="col s10">
        <a href="/trips/"><img class="activator" src="https://placeimg.com/350/240/nature"></a>

        <div  class="card black-text blue-grey lighten-4">
            <h3>{{trip.date}}</h3>
            <h3>Trail: </h3>
                {% for trail in trails %}
                <h4> {{trail}} </h4> 
            <h5>Difficulty: </h5>
                <p>{{trail.difficulty}}</p>
            <h5>Length: </h5>
                <p>{{trail.length}}</p>
            {% endfor %}

            <h4>Hikers: </h4>
            {% for hiker in hikers %}
                <p>{{hiker}} </p>
                <br>
            {% endfor %}
            <a href="{% url 'trips_delete' trip.id %}"><button type="button">Delete Trip?</button></a>

        </div>
    </div>
{% endblock %}