{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="left col s1">
            <h3> </h3>
            <a href="/trips/create/"><h4 class="black-text">Create a New Hike</h4></a>
        </div>
        <div class="col s11"> 
            <h2 class="dark-grey-text">Calendar</h2>

            {% for trip in trips %}
            <a href="{% url 'trips_detail' trip.id %}">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="https://placeimg.com/350/240/nature">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text blue-grey lighten-4">{{trip.date}}</span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text blue-grey lighten-4">Date: {{trip.date}} <i class="material-icons right">close</i></span>
                    </div>
                </div>  
            </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}    

