{% extends 'base.html' %}

{% block content %}
        <h2>How it works:</h2>
        <p>Looking to go for a hike? <br> Enter in your search criteria. 
            <br> You will be matched with other hikers in the area looking for a similar level of adventure. 
            <br>Share a ride to trail. Split the cost of gas. Make new friends while doing  what you love!
        </p>
        <a href="{% url 'signup' %}" class="waves-effect waves-light btn-large"><i class="material-icons right"></i>Sign Up</a>
    
{% endblock %}