{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HikeHitch - Share a ride to the trail!</title>
</head>
<body>
    <header>
            <h1>HikeHitch</h1>
            <h3>Share a Ride to the Trail</h3>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <ul>
            <li>HikeHitch, Copyright 2018</li> 
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
        </ul>
    </footer>
</body>
</html>