{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- materialize css cdn -->
    <link href="https://fonts.googleapis.com/css?family=Modak|Sirin+Stencil" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" rel="stylesheet" href="{% static 'style.css' %}">
    <title>HikeHitch - Share a ride to the trail!</title>
</head>
<body>
    <h1 class=" head white-text">HikeHitch</h1>
        <nav class="nav-wrapper blue-grey">
            <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                <li><a href="{% url 'profile' user.username %}">Welcome {{user.username}}</a></li>
                <li><a href="{% url 'trips' %}">Calendar</a></li>
                <li><a href="{% url 'trails_index' %}">Trails</a></li>
                <li><a href="{% url 'logout_view' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'trails_index' %}">Trails</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>            

<main>
    <div class="center">
    {% block content %}
    {% endblock %}
    </div>
</main>

    <nav  class="page-footer transparent">
        <ul>
            <li>HikeHitch, Copyright 2018 </li> 
            <li><a href="https://www.facebook.com/">Facebook</a></li>
            <li><a href="https://www.instagram.com/">Instagram</a></li>
            <li><a href="https://www.twitter.com/">Twitter</a></li>
            <li><a href="{% url 'wish' %}">Goals</a></li>
        </ul>
    </nav>
    
    <!-- materialize javascript cdn -->
    {% block javascript %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE="
        crossorigin="anonymous"></script>
    
    <script>
        var dateEl = document.getElementById('id_date');
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            defaultDate: new Date(),
            setDefaultDate: true,
            autoClose: true
        });
        // add additional JS to initialize select below
        var selectEl = document.querySelectorAll('select');
        M.FormSelect.init(selectEl);
    </script>
    {% endblock javascript %}
</body>
</html>