{% extends 'base.html' %}

{% block content %}
<div class="row">

    {% if user.is_authenticated %}
    <div class="col s1">
        <h2> </h2>
        <button type="submit"><a href="{% url 'trail_create' %}"><h3>Add a New Trail</h3></a></button> 
    </div>
    {% endif %}

    <div class="col s10">
        <h2 class="dark-grey-text">Check out these MF trails!</h2>
        {% for trail in trails %}
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="https://placeimg.com/360/250/nature">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text blue-grey lighten-4">{{trail.name}}</span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text blue-grey lighten-4">{{trail.name}}<i class="material-icons right">close</i></span>
                    <p>Length(km): {{trail.length}}</p>
                    <p>Difficulty: {{trail.difficulty}}</p>
                    <p>Location: {{trail.location}}</p>
                </div>
            </div>  
        {% endfor %}
    </div>

    <div class="col s1">
        <div>
            <form> 
                <h4>Search Trails:</h4>
                <div>
                <p>Difficulty</p>
                <input type="radio" id="contactChoice1">
                    <label for="contactChoice1">Easy</label>
                <input type="radio" id="contactChoice2">
                    <label for="contactChoice2">Moderate</label>
                <input type="radio" id="contactChoice3">
                    <label for="contactChoice3">Hard</label>
                <input type="radio" id="contactChoice4">
                    <label for="contactChoice4">Advanced</label>   
                <input type="radio" id="contactChoice5">
                    <label for="contactChoice5">Extreme</label>                 
                </div>
                <div>
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

